<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.cdnfonts.com/css/pokemon-solid"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/svg+xml" href="/pokeball.svg" />

		<link
			href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap"
			rel="stylesheet"
		/>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Poke Adoption Center</title>
	</head>
	<body>
		<header>
			<a href="/" rel="home"> home</a>

			<!-- TODO: add nav -->
		</header>

		<slot />

		<footer>
			<p>
				<a href="https://github.com/xLillium/extraterrestrial-equator">
					source code
				</a>
			</p>
		</footer>
	</body>
</html>

<style is:global>
	:is(h1, h2, h3, h4, h5, h6) {
		font-family: "Pokemon Solid", cursive;
		font-weight: 700;
		line-height: 1.1;
		margin: 1.5rem 0 0;
	}
</style>
