---
import Layout from "../layouts/default.astro";
---

<Layout>
    <section class="block page">
        <slot />
    </section>
</Layout>

<style is:global>
    .team-image {
        width: 100%;
    }
</style>
